In [1]:
import csv
import json
import sqlite3

import requests
import pandas as pd
import numpy as np

from config import api_key, api_key2, api_key3

In [2]:
conn = sqlite3.connect('bls_data.db')
c = conn.cursor()

In [17]:
c.execute("""SELECT series_id
             FROM series_names 
             WHERE datatype = 'All Employees, In Thousands'""")

In [18]:
series_list = []
for i in c:
    series_list.append(i[0])

In [19]:
def export_to_excel(data, file_name):
    writer = pd.ExcelWriter("%s.xlsx" % (file_name,))
    data.to_excel(writer,"%s" % (file_name,))
    writer.save()
    print('Done')
    
def chunks(l, n):
    n = max(1, n)
    return (l[i:i+n] for i in range(0, len(l), n))

In [20]:
def query_employee_counts(series,startyear,endyear):
    data_dict = {}
    counter = 0
    headers = {'Content-type': 'application/json'}
    data = json.dumps({"seriesid": series,"startyear":startyear, "endyear":endyear, 'registrationkey':api_key3['key']})
    p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
    json_data = json.loads(p.text)
    s = json_data['Results']['series']
    for i in s:
        series_id = i['seriesID']
        series_data = i['data']
        for j in series_data:
            year = j['year']
            period = j['period']
            periodName = j['periodName']
            value = j['value']
            data_dict[counter] = pd.Series([series_id,year,period,periodName,value], 
                index=['series_id','year','period','periodName','value'])
            counter+=1
    return pd.DataFrame(data_dict).T

In [21]:
def get_employee_counts(startyear,endyear):
    em_cnt_list = series_list
    ec_list = []
    for i in em_cnt_list:
        ec_list.append(i.rstrip())
    dfs = []
    new_list = chunks(ec_list, 50)
    for n in new_list:
        dfs.append(query_employee_counts(n,startyear,endyear))
    pd.concat(dfs).to_sql('employee_counts', conn, if_exists='replace')
    conn.commit()
    print('Done loading data.')
    return pd.concat(dfs)

In [ ]:
get_employee_counts(2000, 2019)

In [9]:
def query_msa_data():
    data = {}
    c.execute("""SELECT e.series_id, e.year, e.period, e.periodName, e.value, s.area, s.industry, s.datatype, s.adjustment_method
                 FROM employee_counts e 
                 LEFT JOIN series_names s ON e.series_id = s.series_id""")
    counter = 0
    for i in c:
        series_id = i[0]
        year = i[1]
        period = i[2]
        month = i[3]
        month_year = period+'-'+year
        value = i[4]
        msa = i[5]
        industry = i[6]
        datatype = i[7]
        adjustment_method = i[8]
        data[counter] = pd.Series([series_id, year, period, month, month_year, value, msa, industry, datatype, adjustment_method],
                                 index=['series_id', 'year', 'period', 'month', 'month_year', 'value', 'msa', 'industry', 'datatype', 'adjustment_method'])
        counter+=1
    return pd.DataFrame(data).T

In [10]:
df = query_msa_data()

In [11]:
df

,series_id,year,period,month,month_year,value,msa,industry,datatype,adjustment_method
0,SMS01138200000000001,2019,M04,April,M04-2019,546.6,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
1,SMS01138200000000001,2019,M03,March,M03-2019,546.4,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
2,SMS01138200000000001,2019,M02,February,M02-2019,544.6,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
3,SMS01138200000000001,2019,M01,January,M01-2019,544.3,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
4,SMS01138200000000001,2018,M12,December,M12-2018,543.2,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
5,SMS01138200000000001,2018,M11,November,M11-2018,541.8,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
6,SMS01138200000000001,2018,M10,October,M10-2018,541.5,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
7,SMS01138200000000001,2018,M09,September,M09-2018,538.9,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
8,SMS01138200000000001,2018,M08,August,M08-2018,539.3,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
9,SMS01138200000000001,2018,M07,July,M07-2018,538.3,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
10,SMS01138200000000001,2018,M06,June,M06-2018,538.2,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
11,SMS01138200000000001,2018,M05,May,M05-2018,536.6,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
12,SMS01138200000000001,2018,M04,April,M04-2018,536.8,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
13,SMS01138200000000001,2018,M03,March,M03-2018,537.1,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
14,SMS01138200000000001,2018,M02,February,M02-2018,536.5,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
15,SMS01138200000000001,2018,M01,January,M01-2018,536.2,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
16,SMS01138200000000001,2017,M12,December,M12-2017,534.7,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
17,SMS01138200000000001,2017,M11,November,M11-2017,534.8,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
18,SMS01138200000000001,2017,M10,October,M10-2017,534.1,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
19,SMS01138200000000001,2017,M09,September,M09-2017,533.3,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
20,SMS01138200000000001,2017,M08,August,M08-2017,532.9,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
21,SMS01138200000000001,2017,M07,July,M07-2017,532.2,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
22,SMS01138200000000001,2017,M06,June,M06-2017,530.7,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
23,SMS01138200000000001,2017,M05,May,M05-2017,529.7,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
24,SMS01138200000000001,2017,M04,April,M04-2017,528.7,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
25,SMS01138200000000001,2017,M03,March,M03-2017,529.9,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
26,SMS01138200000000001,2017,M02,February,M02-2017,529.4,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
27,SMS01138200000000001,2017,M01,January,M01-2017,528.6,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
28,SMS01138200000000001,2016,M12,December,M12-2016,527.9,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
29,SMS01138200000000001,2016,M11,November,M11-2016,527.4,"Birmingham-Hoover, AL",Total Nonfarm,"All Employees, In Thousands",Seasonally Adjusted
...,...,...,...,...,...,...,...,...,...,...
27910,SMU53440609093161101,2002,M06,June,M06-2002,13.1,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27911,SMU53440609093161101,2002,M05,May,M05-2002,13.3,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27912,SMU53440609093161101,2002,M04,April,M04-2002,13.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27913,SMU53440609093161101,2002,M03,March,M03-2002,13.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27914,SMU53440609093161101,2002,M02,February,M02-2002,13.1,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27915,SMU53440609093161101,2002,M01,January,M01-2002,12.7,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27916,SMU53440609093161101,2001,M12,December,M12-2001,13.0,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27917,SMU53440609093161101,2001,M11,November,M11-2001,13.0,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27918,SMU53440609093161101,2001,M10,October,M10-2001,12.7,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27919,SMU53440609093161101,2001,M09,September,M09-2001,11.7,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27920,SMU53440609093161101,2001,M08,August,M08-2001,9.9,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27921,SMU53440609093161101,2001,M07,July,M07-2001,10.9,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27922,SMU53440609093161101,2001,M06,June,M06-2001,13.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27923,SMU53440609093161101,2001,M05,May,M05-2001,13.3,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27924,SMU53440609093161101,2001,M04,April,M04-2001,13.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27925,SMU53440609093161101,2001,M03,March,M03-2001,13.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27926,SMU53440609093161101,2001,M02,February,M02-2001,13.1,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27927,SMU53440609093161101,2001,M01,January,M01-2001,12.7,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27928,SMU53440609093161101,2000,M12,December,M12-2000,13.4,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27929,SMU53440609093161101,2000,M11,November,M11-2000,13.4,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27930,SMU53440609093161101,2000,M10,October,M10-2000,13.0,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27931,SMU53440609093161101,2000,M09,September,M09-2000,12.0,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27932,SMU53440609093161101,2000,M08,August,M08-2000,10.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27933,SMU53440609093161101,2000,M07,July,M07-2000,11.2,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27934,SMU53440609093161101,2000,M06,June,M06-2000,12.8,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27935,SMU53440609093161101,2000,M05,May,M05-2000,13.0,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27936,SMU53440609093161101,2000,M04,April,M04-2000,12.9,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27937,SMU53440609093161101,2000,M03,March,M03-2000,12.9,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27938,SMU53440609093161101,2000,M02,February,M02-2000,12.9,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted
27939,SMU53440609093161101,2000,M01,January,M01-2000,12.5,"Spokane-Spokane Valley, WA",Local Government Educational Services,"All Employees, In Thousands",Not Seasonally Adjusted

In [12]:
export_to_excel(df, 'Examples2000_2019')

Done

In [13]:
get_employee_counts(1980, 1999)

Done loading data.

                 series_id  year period periodName  value
0     SMS01138200000000001  1999    M12   December  520.5
1     SMS01138200000000001  1999    M11   November  519.1
2     SMS01138200000000001  1999    M10    October  519.0
3     SMS01138200000000001  1999    M09  September  519.3
4     SMS01138200000000001  1999    M08     August  517.7
5     SMS01138200000000001  1999    M07       July  516.8
6     SMS01138200000000001  1999    M06       June  515.6
7     SMS01138200000000001  1999    M05        May  513.7
8     SMS01138200000000001  1999    M04      April  513.4
9     SMS01138200000000001  1999    M03      March  512.2
10    SMS01138200000000001  1999    M02   February  512.0
11    SMS01138200000000001  1999    M01    January  510.2
12    SMS01138200000000001  1998    M12   December  509.6
13    SMS01138200000000001  1998    M11   November  509.0
14    SMS01138200000000001  1998    M10    October  507.6
15    SMS01138200000000001  1998    M09  September  507.6
16    SMS01138200000000001  1998    M08     August  508.2
17    SMS01138200000000001  1998    M07       July  507.9
18    SMS01138200000000001  1998    M06       June  510.0
19    SMS01138200000000001  1998    M05        May  508.8
20    SMS01138200000000001  1998    M04      April  507.0
21    SMS01138200000000001  1998    M03      March  505.4
22    SMS01138200000000001  1998    M02   February  504.2
23    SMS01138200000000001  1998    M01    January  502.8
24    SMS01138200000000001  1997    M12   December  503.6
25    SMS01138200000000001  1997    M11   November  502.8
26    SMS01138200000000001  1997    M10    October  501.4
27    SMS01138200000000001  1997    M09  September  498.5
28    SMS01138200000000001  1997    M08     August  498.1
29    SMS01138200000000001  1997    M07       July  497.3
...                    ...   ...    ...        ...    ...
2274  SMU53440609093161101  1995    M06       June   11.8
2275  SMU53440609093161101  1995    M05        May   12.0
2276  SMU53440609093161101  1995    M04      April   11.9
2277  SMU53440609093161101  1995    M03      March   12.0
2278  SMU53440609093161101  1995    M02   February   11.9
2279  SMU53440609093161101  1995    M01    January   11.5
2280  SMU53440609093161101  1994    M12   December   11.7
2281  SMU53440609093161101  1994    M11   November   11.8
2282  SMU53440609093161101  1994    M10    October   11.6
2283  SMU53440609093161101  1994    M09  September   10.6
2284  SMU53440609093161101  1994    M08     August    8.7
2285  SMU53440609093161101  1994    M07       July    9.4
2286  SMU53440609093161101  1994    M06       June   11.5
2287  SMU53440609093161101  1994    M05        May   11.6
2288  SMU53440609093161101  1994    M04      April   11.6
2289  SMU53440609093161101  1994    M03      March   11.5
2290  SMU53440609093161101  1994    M02   February   11.4
2291  SMU53440609093161101  1994    M01    January   11.2
2292  SMU53440609093161101  1993    M12   December   11.3
2293  SMU53440609093161101  1993    M11   November   11.4
2294  SMU53440609093161101  1993    M10    October   11.2
2295  SMU53440609093161101  1993    M09  September   10.2
2296  SMU53440609093161101  1993    M08     August    7.9
2297  SMU53440609093161101  1993    M07       July    9.4
2298  SMU53440609093161101  1993    M06       June   11.2
2299  SMU53440609093161101  1993    M05        May   11.3
2300  SMU53440609093161101  1993    M04      April   11.2
2301  SMU53440609093161101  1993    M03      March   11.2
2302  SMU53440609093161101  1993    M02   February   11.1
2303  SMU53440609093161101  1993    M01    January   10.7

[13944 rows x 5 columns]

In [14]:
df2 = query_msa_data()

In [15]:
export_to_excel(df2, 'Examples1980_1999')

Done